{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Add Question
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'libs/jQuery-tagEditor/jquery.tag-editor.css' %}">
{% endblock %}

{% block content %}
     <h2>Add Question</h2>

    <form action="{% url 'qa:create' %}"
          method="post"
          enctype="multipart/form-data"
          class="pure-form pure-form-stacked"
    >
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="tags">Tags:</label>
            <textarea class="form-control" name="tags" id="tags" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="Save" class="form-control btn-primary col-2">
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'libs/jQuery-tagEditor/jquery.caret.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'libs/jQuery-tagEditor/jquery.tag-editor.min.js' %}"></script>
    <script>
        var availableTags = [
            {% for tag in tags %}
                '{{ tag.title }}',
            {% endfor %}
        ];
        $('#tags').tagEditor({ autocomplete: { 'source': availableTags, minLength: 2 }, maxTags: 3 });
    </script>
{% endblock %}