<div class="row">
    {% if obj.create_by != user %}
        <span class="js-vote col-12 oi oi-chevron-top text-center"
              data-url="{% if is_question %}
                        {% url 'votes:question_like' obj.pk %}
                    {% else %}
                        {% url 'votes:answer_like' obj.pk %}
                    {% endif %}"
        ></span>
    {% endif %}

    <span class="js-vote_count col-12 text-center">{{ obj.vote_count }}</span>

    {% if obj.create_by != user %}
        <span class="js-vote col-12 oi oi-chevron-bottom text-center"
              data-url="{% if is_question %}
                            {% url 'votes:question_dislike' obj.pk %}
                        {% else %}
                            {% url 'votes:answer_dislike' obj.pk %}
                        {% endif %}"
        ></span>
    {% endif %}
</div>