{% extends 'base.html' %}

{% block title %}
    Setting
{% endblock %}


{% block content %}
    {% include 'includes/success_massage.html' %}

    <h2>Setting</h2>

    <form action="{% url 'users:setting' %}"
          method="post"
          enctype="multipart/form-data"
          class="pure-form pure-form-stacked"
    >
        <p><span>Login: </span> {{ user.username }} </p>

        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" class="form-control btn-primary col-2">
    </form>
{% endblock %}